<div class="container">

  <div class="card mx-auto mt-3 bg-secondary" style="width: 500px;">
      <div class="card-header bg-dark text-white">
        <h2 class="card-title text-center display-4">Painoindeksilaskuri</h2>
      </div>

      <div class="form-group m-4 ">
        <input [(ngModel)]="pituus" type="number" class="form-control mb-2 mx-auto" style="width: 200px;" placeholder="Kirjoita pituutesi (cm)">
        <input [(ngModel)]="paino" type="number" class="form-control mx-auto" style="width: 200px;" placeholder="Kirjoita painosi (kg)">

        <button class=" btn btn-success mx-auto mt-3 d-flex " (click)="laskePainoindeksi()">Laske painoindeksi</button>
      </div>

      <div class="m-3">
        
        <!--virhe (syöttöarvot)-->
        <div *ngIf="virhe">
          <h4 class="text-white text-center mt-4"><b>!</b></h4>  
          <div class="alert alert-danger mt-4" >
            {{virhe}} 
          </div>
        </div>

        <div *ngIf="painoindeksi != null && painoindeksi < 18.5 ">
            <h4 class="text-white text-center mt-4">Painoindeksisi on: <b>{{painoindeksi}}</b></h4>  
            <div class="alert alert-danger mt-4" >
              Painoideksin ollessa alle 18.5, kyseessä on alipaino. 
            </div>
        </div>

        <div *ngIf="painoindeksi >= 18.5 && painoindeksi <= 25">
          <h4 class="text-white text-center mt-4">Painoindeksisi on: <b>{{painoindeksi}}</b></h4>  
          <div class="alert alert-success mt-4" >
            Normaali paino. 
          </div>
        </div>

      <div *ngIf="painoindeksi > 25 && painoindeksi <= 30">
        <h4 class="text-white text-center mt-4">Painoindeksisi on: <b>{{painoindeksi}}</b></h4>  
        <div class="alert alert-warning mt-4" >
          Painoideksin ollessa 25-30, kyseessä on lievä ylipaino. 
        </div>
      </div>

      <div *ngIf="painoindeksi > 30 && painoindeksi <= 35">
        <h4 class="text-white text-center mt-4">Painoindeksisi on: <b>{{painoindeksi}}</b></h4>  
        <div class="alert alert-danger mt-4" >
          Painoideksin ollessa 30-35, kyseessä on merkittävä ylipaino. 
        </div>
      </div>

      <div *ngIf="painoindeksi > 35 && painoindeksi <= 40 ">
        <h4 class="text-white text-center mt-4">Painoindeksisi on: <b>{{painoindeksi}}</b></h4>
        <div class="alert alert-danger mt-4"> 
          Painoideksin ollessa 35-40, kyseessä on vaikea ylipaino. 
        </div>
      </div> 

      <div *ngIf="painoindeksi > 40">
        <h4 class="text-white text-center mt-4">Painoindeksisi on: <b>{{painoindeksi}}</b></h4>
        <div class="alert alert-danger mt-4"> 
          Painoideksin ollessa yli 40, kyseessä on sairaalloinen ylipaino. 
        </div>
      </div> 
      
    </div>

  </div>

</div>